[Unit]
Description=Simple Go Web Server
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/webserver
Restart=always
RestartSec=5

User=root
Group=root

[Install]
WantedBy=multi-user.target
